[submodule "Ethereum/NFT-Project/foundry/lib/forge-std"]
	path = Ethereum/NFT-Project/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Ethereum/NFT-Project/foundry/lib/openzeppelin-contracts"]
	path = Ethereum/NFT-Project/foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
