
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');


:root{
    --clr: hsl(0, 0%, 100%);
    --bg-clr: hsl(0, 0%, 0%);
    --link-clr: hsl(207, 100%, 37%);
    --code-bg-clr: hsl(207, 100%, 25%);
    --fg-clr: hsl(0, 1%, 71%);
}


*{
    padding: 0;
    margin: 0;
}
 html{
    scroll-behavior: smooth;
 }

 body{
    padding: 0 5rem;
    background: var(--bg-clr);
    color: var(--clr);
    font-family: 'Montserrat', sans-serif;
 }
thead {
    text-align: center;
}
nav {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    font-size: 1.25rem;
}

.title {
    padding: 3rem;
    text-align: center;
    font-size: 2.5rem;
}
.section-list {
    font-size: 1.35rem;
    list-style: none;
    padding-bottom: 1rem;
    position: relative;
}
.section-list::after{
    content: "";
    position: absolute;
    background: var(--clr);
    width: 100%;
    height: 2px;
    bottom: 0rem;
    left: 0;
}
.sections {
    font-size: 1.25rem;
}
.heading {
    padding: 1rem 0;
    position: relative;
}

.heading::after{
    content: "";
    position: absolute;
    background: var(--clr);
    width: 100%;
    height: 2px;
    bottom: .5rem;
    left: 0;
}
.table {
    color: #555;
}
.table-scroll {
    overflow-x: scroll;
}
.code-box {
    border: 1px solid var(--link-clr);
    border-radius: 5px;
    color: var(--link-clr);
    padding: .75rem 1.25rem;
    margin: 1rem 0;
    overflow: scroll;
}
.code-box-color code {
    color: var(--link-clr);
    overflow: scroll;
}

code{
    color: var(--link-clr);
    
}

tr{
    color: var(--fg-clr);
}
.block-quote {
    margin-bottom: 8px;
    padding: 4px;
    padding-left: 10px;
    border: 1px solid #e9ecef;
    border-left: 4px solid #555a5e;
    word-spacing: 4px;
    background-color: #e9ecef;
    color: #212529;
}
.img {
    max-height: 100%;
    max-width: 100%;
}

/* Responsiveness */
@media screen and (max-width: 575px) {
    h2 {
        font-size: 1.6525rem !important;
    }
    h3 {
        font-size: 1.55rem !important;
    }
    h4 {
        font-size: 1.325rem !important;
    }
    h5 {
        font-size: 1.15rem !important;
    }
    nav {
        font-size: 1.25rem;
    }
    .title {
        padding: 0.75rem;
    }
    .section-list {
        font-size: 1.1rem;
    }
    .sections {
        font-size: 1rem;
    }
    
} 